@import url('style.css');
/* reset */
*::selection{background-color:rgba(82,195,238,0.5);}/* rgba(82,195,238,0.5) */
*{margin:0;padding:0;box-sizing: border-box;}
ul,li{list-style:none;}
a{text-decoration: none;}
button{margin:0;padding:0;font-family:'Noto Sans KR', Arial;}
.clearfix::after{content:"";display:block;clear: both;}
html,body {position: relative;height: 100%;min-height:940px;font-family:'Montserrat', 'Noto Sans KR', Arial;}
body {font-family:'Montserrat', 'Noto Sans KR', Arial;}
input {font-family: 'Noto Sans KR', Arial;}
/* header */
#header{position: fixed;z-index: 998;width:100%;}
#header .header-inner{padding:3.5vw 3.5vw 0;}
#header .logo{float: left;}
#header .logo a{font-size: 0;}
#header .logo a img{display: block;}
#header .gnb-wrap{float: right;}
#header .gnb{float: left;}
#header .gnb .gnb-ul{margin-right:55px;}
#header .gnb .gnb-ul li{float: left;margin-right:25px;}
#header .gnb .gnb-ul li:last-child{margin-right:0;}
#header .gnb .gnb-ul li a{font-size: 18px;color:#000;font-weight: bold;}
#header .gnb .gnb-ul li a:hover{color:#FF3D56;}
#header .menu-btn{border:none;background: none;float: right;cursor: pointer;}
.sitemap{width:100%;height:100%;background: url("../images/menu_bg.png") no-repeat left bottom #F2F3F7;background-size: contain;position: fixed;top:0;left:0;z-index: 999;display: none;}
.sitemap .logo{float: left;margin:3.5vw 0 0 3.5vw;}
.sitemap .logo a{font-size: 0;}
.sitemap .logo a img{display: block;}
.sitemap .close-btn{border:none;position: absolute;top:3.5vw;right:4vw;cursor: pointer;}
.sitemap .menu{padding:15vw 3.5vw 0 0;float: right;}
.sitemap .menu li{margin-top:15px;text-align: right;}
.sitemap .menu li:first-child{margin-top:0;}
.sitemap .menu li a{font-size: 4.8vw;font-weight: bold;color:#000;line-height: 1;transition:all 0.3s ease 0s;}
.sitemap .menu li a .highlighter{text-decoration: none;display: inline-block;position: relative;}
.sitemap .menu li a .highlighter:after {background: none repeat scroll 0 0 transparent;top: 70%;content: "";display: block;height: 7px;left: 0;position: absolute;background: #52C3EE;transition: width 0.2s ease 0s, left 0.2s ease 0s;width: 0;z-index: 1;}
.sitemap .menu li a:hover{font-size: 5.17vw;}
.sitemap .menu li a:hover .highlighter:after {width: 100%;left: 0;}
#fullPage {width: 100%;height: 100%;}
.content-wrapper{width: 100%;height: 100%;}
.contents{position: relative;height: 100%;}
.inner{height: 100%;padding:6.28vw 3.5vw;}
.sub-tit{padding:3vw 0 4vw;font-size: 2.0835vw;text-align: center;color:#171717;}
.highlighter {text-decoration: none;display: inline-block;position: relative;}
.highlighter:after {background: none repeat scroll 0 0 transparent;bottom: 4px;content: "";display: block;height: 7px;left: 50%;position: absolute;background: #52C3EE;transition: width 0.7s ease 0s, left 0.7s ease 0s;width: 0;z-index:-1;}
.contents.on .highlighter:after {width: 100%;left: 0;}
.sub-tit-wrap .sub-tit{font-size: 2vw;padding: 3.5vw 0 1.5vw;}
.sub-tit-wrap p{font-size: 1.122vw;text-align: center;font-weight: bold;}
.footer{background: #444; color:#fff;padding:50px 10.5vw;font-family: 'Noto Sans KR', Arial;}
.footer .foot-tit{font-size: 18px;}
.footer .foot-copyright{float: left;font-size: 15px;color:#bcbcbc;margin-top:25px;}
.footer .info{float: right;margin-top:25px;}
.footer .info li{float: left;font-size: 15px;color:#bcbcbc;margin-left:25px;}
