.owl-carousel.owl-loaded.business-owl{display: none;}
.business-owl .item {width:100%;min-height: 300px;text-align: center;}
.business-owl .item  .icon-box{width:25%; background: #fff;padding:12px;border-radius: 16px;overflow: hidden;margin: 0 auto;box-shadow:0 12px 12px rgba(132,138,163,0.1);}
.business-owl .item  .icon-box img{width:100%;}
.business-owl .item  h5{font-size: 20px;color:#101F41;text-align: center;margin:30px 0 20px;}
.business-owl .item  p{color:#71788F;text-align: center;line-height: 1.5;}
.business-owl .item  p span{font-size:14px;color:#51AEDC;}
.owl-carousel.owl-loaded.service-owl{display: none;}
.service-owl{width:80%;margin: 0 auto;}
.service-owl .item{border-radius: 10px;overflow: hidden;box-shadow: 0 4px 8px rgb(190 193 224 / 32%);margin:10px 0;}
.service-owl .item .txt{padding:25px 30px;background: #fff;}
.service-owl .item .txt h5{font-size: 20px;margin-bottom: 20px;}
.service-owl .item .txt p{font-size: 16px;line-height: 1.4;}
.owl-carousel.service-owl .owl-nav{position: absolute;width:100%;top:50%;left:0;margin-top: -15px;}
.owl-carousel.service-owl .owl-nav button{position: absolute;top:0;}
.owl-carousel.service-owl .owl-nav button span{display: none;}
.owl-carousel.service-owl .owl-nav button.owl-prev{width:18px;height:30px;background: url("../img/owl_prev.png") no-repeat 50% 50%;background-size: cover;left:-50px;}
.owl-carousel.service-owl .owl-nav button.owl-next{width:18px;height:30px;background: url("../img/owl_next.png") no-repeat 50% 50%;background-size: cover;right:-50px;}
@media (max-width:1024px){
  .owl-carousel.owl-loaded.business-owl{display: block;}
  .owl-carousel.owl-loaded.service-owl{display: block;}
}
@media (max-width:768px){
  .business-owl .item  .icon-box{width:40%;padding:12px;}
  .business-owl .item h5{font-size: 20px;}
  .business-owl .item p{font-size: 16px;}
  .business-owl .item p span{font-size: 14px;}
}
@media (max-width:460px){
  .owl-carousel.service-owl .owl-nav button.owl-prev{width:12px;height:20px;top:-10px;left:-30px;}
  .owl-carousel.service-owl .owl-nav button.owl-next{width:12px;height:20px;top:-10px;right:-30px;}
}
