.blu-owl .item {width:100%;min-height: 300px;text-align: center;}
.blu-owl .item  .icon-box{width:50%; background: #fff;padding:15px;border-radius: 16px;overflow: hidden;margin: 0 auto;box-shadow:0 12px 12px rgba(132,138,163,0.1);}
.blu-owl .item  .icon-box img{width:100%;}
.blu-owl .item  h5{font-size: 20px;color:#101F41;text-align: center;margin:30px 0 20px;}
.blu-owl .item  p{color:#71788F;text-align: center;line-height: 1.5;}
.blu-owl .item  p span{font-size:14px;color:#51AEDC;}
