@media (max-width:1500px){
  /* main */
  .service-wrap ul li .txt p br{display: none;}
}
@media (max-width:1400px){
  /* main */
  .content1 .main-visual li:first-child{top:12.5vw;}
  .content1 .main-visual li:last-child{top:16vw}
  /* contact */
  .items-3{width:calc(25% - 21px);}
  .items-6{width:calc(50% - 14px);}
  .contact-wrap-02 .items-3{margin-left: 28px;}
  .items input[type=text]{font-size: 14px;padding:10px 12px;}
  .items select{font-size: 14px;padding:12px 12px;}
  .items .price-select-wrap::after{width:12px;height:8px;}
  .items .service-ul li input[type=radio] + label{font-size: 14px;}
  .items .service-ul li input[type=radio] + label::before{vertical-align: text-top;}
}
@media (max-width:1300px){
  /* main */
  .business-wrap ul li p{font-size: 14px;}
  .swiper-button-prev{width:60px;height:60px;right:calc(3.5vw + 60px);}
  .swiper-button-next{width:60px;height:60px;}
}
@media (max-width:1200px){
  /* main */
  .business-wrap ul li h5{margin-bottom: 15px;}
  .business-wrap ul li p{font-size: 13px;}
  .swiper-button-prev{width:50px;height:50px;right:calc(3.5vw + 50px);}
  .swiper-button-prev::after{font-size: 25px;}
  .swiper-button-next{width:50px;height:50px;}
  .swiper-button-next::after{font-size: 25px;}
  .footer .foot-copyright{font-size: 13px;}
  .footer .info li{margin-left: 15px;font-size: 13px;}
  /* contact */
  .sub-tit-wrap .sub-tit{font-size: 3vw;}
  .sub-tit-wrap p{font-size: 1.7vw;}
  .items h4{font-size: 18px;}
  .items input[type=text]{font-size: 12.5px;padding:10px 10px;}
  .items select{font-size: 12.5px;padding:12px 10px;}
  .items .service-ul li input[type=radio] + label{font-size: 12.5px;}
}
@media (max-width:1024px) {
  /* main */
  .inner{padding:12vw 5.5vw;}
  .sitemap .menu li a{font-size: 6vw;}
  .sitemap .menu li a:hover{font-size: 6.5vw;}
  .sitemap .menu li{margin-top: 20px;}
  .content1 .main-visual{display: flex;justify-content: center;align-items: center;}
  .content1 .main-visual li{position: relative;float: none;}
  .content1 .main-visual li:first-child{top:0;}
  .content1 .main-visual li:last-child{top:0;}
  .content1 .main-visual li .sub-txt h4{font-size: 3vw;}
  .content1 .main-visual li .sub-txt p{font-size: 1.5vw;}
  .content1.on .bg-gray{width:55%;left:17%;}
  .content1.on .bg-line{height:45%;top:35%;right:28%;}
  /* .content2.contents{height:auto;} */
  .sub-tit{font-size: 3vw;padding:3.5vw 0 15vw;}
  .highlighter:after{bottom: 2px;}
  .service-wrap{display: none;}
  .bg-figure .rectangle1{top:20vw;left:6.5vw;}
  .bg-figure .rectangle2{width:30px;height:30px;top:4vw;left:52.5vw;}
  .bg-figure .rectangle3{bottom:68.2vw;right:36.5vw;}
  .bg-figure .circle1{top:9vw;left:25vw;}
  .bg-figure .circle2{top:30vw;right:3vw;}
  .bg-figure .circle3{bottom:25vw;left:7vw;}
  .bg-figure .circle4{bottom:4.5vw;left:30vw;}
  .bg-figure .circle5{bottom:3.5vw;right:27vw}
  .bg-figure .circle6{top:45vw;right:9vw;}
  .bg-figure .triangle1{top:11vw;right:20vw;}
  @keyframes figureMove1 {
  	0% {top:6.5vw;}
    50% {top:calc(6.5vw + 15px);}
    100% {top:6.5vw;}
  }
  @keyframes figureMove2 {
  	0% {top:4vw;}
    50% {top:calc(4vw + 15px);}
    100% {top:4vw;}
  }
  @keyframes figureMove3 {
  	0% {bottom:68.2vw;}
    50% {bottom:calc(68.2vw - 15px);}
    100% {bottom:68.2vw;}
  }
  @keyframes figureMove4 {
  	0% {top:9vw;}
    50% {top:calc(9vw + 15px);}
    100% {top:9vw;}
  }
  @keyframes figureMove5 {
  	0% {top:30vw;}
    50% {top:calc(30vw + 15px);}
    100% {top:30vw;}
  }
  @keyframes figureMove6 {
  	0% {bottom:25vw;}
    50% {bottom:calc(25vw - 15px);}
    100% {bottom:25vw;}
  }
  @keyframes figureMove7 {
  	0% {bottom:4.5vw;}
    50% {bottom:calc(4.5vw - 15px);}
    100% {bottom:4.5vw;}
  }
  @keyframes figureMove8 {
  	0% {bottom:3.5vw;}
    50% {bottom:calc(3.5vw - 15px);}
    100% {bottom:3.5vw;}
  }
  @keyframes figureMove9 {
  	0% {top:45vw;}
    50% {top:calc(45vw + 15px);}
    100% {top:45vw;}
  }
  @keyframes figureMove10 {
  	0% {top:11vw;}
    50% {top:calc(11vw + 15px);}
    100% {top:11vw;}
  }
  /* .content3.contents{height:auto;} */
  .business-wrap{display: none;}
  .business-wrap ul li{width:50%;}
  /* .content4.contents{height:auto;} */
  .txt-slider li{padding:5vw;}
  .txt-slider li p{font-size: 13px;}
  .swiper-button-prev{width:40px;height:40px;right:calc(3.5vw + 40px);}
  .swiper-button-prev::after{font-size: 20px;}
  .swiper-button-next{width:40px;height:40px;}
  .swiper-button-next::after{font-size: 20px;}
  .footer{text-align: center;}
  .footer .foot-copyright{float: none}
  .footer .info{display:inline-block;float: none;}
  .footer .info li:first-child{margin-left: 0;}
  /* contact */
  #contact .inner{padding: 6.28vw 8.5vw;}
  .items .service-ul{flex-wrap: wrap;}
  .items .service-ul li{flex-shrink: 1;width:calc(33.3333% - 21px);}
}
@media (max-width:768px) {
  #header .gnb{display: none;}
  .sitemap .menu{padding:20vw 3.5vw 0 0;}
  .sitemap .menu li a{font-size: 50px;}
  .sitemap .menu li a:hover{font-size: 60px;}
  /* main */
  .service-wrap{width:90%;}
  .content1 .main-visual li:first-child{display: none;}
  .content1 .main-visual li:last-child{width:100%;}
  .content1 .main-visual li .main-tit{font-size: 10vw;line-height: 1.2;margin-bottom:13vw;}
  .content1 .main-visual li .sub-txt h4{font-size: 5vw;margin-bottom:7vw;}
  .content1 .main-visual li .sub-txt p{font-size: 2.5vw;}
  /* .content2 .inner{padding:70px 30px;} */
  .sub-tit{font-size: 5vw;padding:5vw 0 7vw;}
  .bg-figure .rectangle1{top:39vw;}
  .bg-figure .rectangle2{width:25px;height:25px;}
  .bg-figure .rectangle3{bottom: 74vw;}
  .bg-figure .circle2{top:60vw;right:2vw;}
  .bg-figure .circle4{width:28px;height:28px;bottom:55px;}
  .bg-figure .circle6{top:125vw;right:20vw;}
  .bg-figure .triangle1{width:12px;height:20px;border-top: 20px solid #4A5CF6;top:8vw;right:18vw;border-left: 12px solid transparent; border-right: 12px solid transparent;}
  @keyframes figureMove1 {
  	0% {top:39vw;}
    50% {top:calc(39vw + 15px);}
    100% {top:39vw;}
  }
  @keyframes figureMove3 {
  	0% {bottom:74vw;}
    50% {bottom:calc(74vw - 15px);}
    100% {bottom:74vw;}
  }
  @keyframes figureMove5 {
  	0% {top:60vw;}
    50% {top:calc(60vw + 15px);}
    100% {top:60vw;}
  }
  @keyframes figureMove7 {
  	0% {bottom:55px;}
    50% {bottom:calc(55px - 15px);}
    100% {bottom:55px;}
  }
  @keyframes figureMove9 {
  	0% {top:125vw;}
    50% {top:calc(125vw + 15px);}
    100% {top:125vw;}
  }
  @keyframes figureMove10 {
  	0% {top:8vw;}
    50% {top:calc(8vw + 15px);}
    100% {top:8vw;}
  }
  /* .txt-slider   모바일버전 일 때 텍스트가 보일 수 있도록 수정*/
  /* .txt-slider{display: none;} */
  .work-slider{padding-bottom:40px;}
  .txt-slider {width: auto; position: initial;}
  .swiper-button-prev{right:calc(5vw + 60px);/*top:50%;margin-top:calc(0px - (var(--swiper-navigation-size)/ 2));*/top:auto;bottom:0;}
  .swiper-button-prev:hover{background: none;}
  .swiper-button-next{right:5vw;/*top:50%;margin-top:calc(0px - (var(--swiper-navigation-size)/ 2));*/top:auto;bottom:0;}
  .swiper-button-next:hover{background: none;}
  .txt-slider li h4{font-size: 18px;}
  .txt-slider li .highlighter em{font-size: 14px;}
  .txt-slider li .sub .slide-effect-txt{font-size: 14px;}
  .footer .info li{float: none;margin-left:0;}
}
@media (max-width:500px){
  /* main */
  .service-wrap{width:100%;}
  .content1 .main-visual li .main-tit{font-size:33px;}
  .content1 .main-visual li .sub-txt h4{font-size: 25px;}
  .content1 .main-visual li .sub-txt p{font-size: 15px;}
  .content1 .main-visual li .sub-txt p br{display: none;}
  .footer .foot-copyright{margin-top: 15px;}
  .footer .info{margin-top: 15px;}
  .bg-figure .rectangle3{bottom: 115vw;}
  @keyframes figureMove3 {
  	0% {bottom:115vw;}
    50% {bottom:calc(115vw - 15px);}
    100% {bottom:115vw;}
  }
}
/* @media (max-height:850px){
  html,body {min-height:100%;}
} */
