@media (max-width:1500px){
  .service-wrap ul li .txt{height:18vw;}
  .service-wrap ul li .txt p br{display: none;}
}
@media (max-width:1400px){
  .content1 .main-visual li:first-child{top:12.5vw;}
  .content1 .main-visual li:last-child{top:16vw}
}
@media (max-width:1300px){
  .swiper-button-prev{width:60px;height:60px;right:calc(3.5vw + 60px);}
  .swiper-button-next{width:60px;height:60px;}
}
@media (max-width:1200px){
  .service-wrap ul li .txt{height:23vw;}
  .swiper-button-prev{width:50px;height:50px;right:calc(3.5vw + 50px);}
  .swiper-button-prev::after{font-size: 25px;}
  .swiper-button-next{width:50px;height:50px;}
  .swiper-button-next::after{font-size: 25px;}
  .footer .foot-copyright{font-size: 13px;}
  .footer .info li{margin-left: 15px;font-size: 13px;}
}
@media (max-width:1024px) {
  .sitemap .menu li a{font-size: 6vw;}
  .sitemap .menu li a:hover{font-size: 6.5vw;}
  .sitemap .menu li{margin-top: 20px;}
  .content1 .main-visual{display: flex;justify-content: center;align-items: center;}
  .content1 .main-visual li{position: relative;float: none;}
  .content1 .main-visual li:first-child{top:0;}
  .content1 .main-visual li:last-child{top:0;}
  .content1 .main-visual li .sub-txt h4{font-size: 3vw;}
  .content1 .main-visual li .sub-txt p{font-size: 1.5vw;}
  .bg-gray{width:55%;left:17%;}
  .bg-line{height:45%;top:35%;right:28%;}
  .content2.contents{height:auto;}
  .sub-tit{font-size: 3vw;}
  .highlighter:after{bottom: 2px;}
  .service-wrap ul li{width:100%;min-height:auto;margin-top:50px;}
  .service-wrap ul li:first-child{margin-top: 0;}
  .service-wrap ul li .txt{height:auto;}
  .bg-figure .rectangle1{top:20vw;left:6.5vw;}
  .bg-figure .rectangle2{width:30px;height:30px;top:4vw;left:52.5vw;}
  .bg-figure .rectangle3{bottom:68.2vw;right:36.5vw;}
  .bg-figure .circle1{top:9vw;left:25vw;}
  .bg-figure .circle2{top:30vw;right:3vw;}
  .bg-figure .circle3{bottom:25vw;left:7vw;}
  .bg-figure .circle4{bottom:4.5vw;left:30vw;z-index: 1;}
  .bg-figure .circle5{bottom:3.5vw;right:27vw}
  .bg-figure .circle6{top:45vw;right:9vw;}
  .bg-figure .triangle1{top:11vw;right:20vw;}
  .content3.contents{height:auto;}
  .business-wrap ul li{width:50%;}
  .content4.contents{height:auto;}
  .swiper-button-prev{width:40px;height:40px;right:calc(3.5vw + 40px);}
  .swiper-button-prev::after{font-size: 20px;}
  .swiper-button-next{width:40px;height:40px;}
  .swiper-button-next::after{font-size: 20px;}
  .footer{text-align: center;}
  .footer .foot-copyright{float: none}
  .footer .info{display:inline-block;float: none;}
  .footer .info li:first-child{margin-left: 0;}
}
@media (max-width:768px) {
  html,body {min-height:100%;}
  #header .gnb{display: none;}
  .sitemap .menu{padding:20vw 3.5vw 0 0;}
  .sitemap .menu li a{font-size: 50px;}
  .sitemap .menu li a:hover{font-size: 60px;}
  .content1 .main-visual li:first-child{display: none;}
  .content1 .main-visual li:last-child{width:100%;}
  .content1 .main-visual li .main-tit{font-size: 10vw;line-height: 1.2;margin-bottom:13vw;}
  .content1 .main-visual li .sub-txt h4{font-size: 5vw;margin-bottom:7vw;}
  .content1 .main-visual li .sub-txt p{font-size: 2.5vw;}
  .content2 .inner{padding:70px 30px;}
  .sub-tit{font-size: 5vw;padding:5vw 0 7vw;}
  .bg-figure .rectangle1{top:39vw;}
  .bg-figure .rectangle2{width:25px;height:25px;}
  .bg-figure .rectangle3{bottom: 74vw;}
  .bg-figure .circle2{top:60vw;right:2vw;}
  .bg-figure .circle4{width:28px;height:28px;bottom:55px;}
  .bg-figure .circle6{top:125vw;right:20vw;}
  .bg-figure .triangle1{width:12px;height:20px;border-top: 20px solid #4A5CF6;top:8vw;right:18vw;border-left: 12px solid transparent;
    border-right: 12px solid transparent;}
  .business-wrap ul li{width:100%;}
  .txt-slider{display: none;}
  .swiper-button-prev{right:auto;left:0;top:50%;margin-top:calc(0px - (var(--swiper-navigation-size)/ 2));}
  .swiper-button-next{right:0;top:50%;margin-top:calc(0px - (var(--swiper-navigation-size)/ 2));}
  .footer .info li{float: none;margin-left:0;}
}
@media (max-width:500px){
  #header .logo a img{width:110px;}
  .sitemap .logo a img{width:110px;}
  .content1 .main-visual li .main-tit{font-size:33px;}
  .content1 .main-visual li .sub-txt h4{font-size: 25px;}
  .content1 .main-visual li .sub-txt p{font-size: 15px;}
  .content1 .main-visual li .sub-txt p br{display: none;}
  .footer .foot-copyright{margin-top: 15px;}
  .footer .info{margin-top: 15px;}
  .business-wrap ul li p{font-size: 14px;}
}
